<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Kaila Hutchins</title>
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/nivo-slider.css">
<link rel="stylesheet" href="assets/css/default.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
<script src="assets/js/jquery-1.6.2.min.js"></script>
<script src="assets/js/tools.js"></script>
<script src="assets/js/jquery.mousewheel.js"></script>
<script src="assets/js/jquery.jscrollpane.min.js"></script>
<script src="assets/js/jquery.nivo.slider.pack.js"></script>
<style type="text/css"></style></head>
<body>
<div id="top"></div>
<div id="wrapper">
	<!-- Navigation (left div)-->
	<div id="navigation">
		<ul class="nav">
			<li><a href="index.html#" class=""><img src="assets/img/dash6.png" alt="Dashboard">Dashboard</a></li>
			<li><a href="index.html#" class="current"><img src="assets/img/about.png" alt="About me">About me</a></li>
			<li><a href="index.html#" class=""><img src="assets/img/works.png" alt="My projects">My projects</a></li>
			<li><a href="index.html#" class=""><img src="assets/img/contact.png" alt="Contact me">Contact me</a></li>
		</ul>
	</div>
	<!-- Project content and bigger image will be displayed inside of  contentWrap div -->
			<div class="apple_overlay" id="overlay"><a class="close"></a>

				<div class="contentWrap"></div>

			</div>
	<div class="panes clearfix" id="container">
		<!-- Dashboard tab -->
		<div style="display: none;">
			
			<div id="title">
				<h1>Kaila Hutchins</h1>
				<h2>Website & Graphic Designer</h2>
				<p class="free">Busy Indicator</p>
			</div>
			<div id="buzymeter">
				<div class="bmLoader"></div>
			</div>
			<p class="bm">Working on multiple client projects. I'm swamped.</p>
		</div>
		<!-- About me tab -->
		<div style="display: block;">
			<div id="aboutMe">
					<img src="assets/img/aboutme.jpg" alt="My image">
					<h3>About me</h3>
					<p>I was born the summer of '91, and raised in New England. Currently, I'm living in New York City and keeping my passions alive. I am working as a daycare director and lead teacher. I am also executive assistant for Shawnee Knight, chef and owner of Cater by Shawnee. Still, I manage to create custum logos and web designs for LeadBulb.</p>
				</div>
			<div id="mySkills">
			
				<ul class="skills fl">
					<li>HTML <img src="assets/img/5cogs.png" alt="Rating 5"></li>
					<li>CSS <img src="assets/img/5cogs.png" alt="Rating 5"></li>
					<li>Javascript <img src="assets/img/3cogs.png" alt="Rating 3"></li>
					<li>PHP <img src="assets/img/3cogs.png" alt="Rating 3"></li>
					<li>Illustrator <img src="assets/img/4cogs.png" alt="Rating 4"></li>
					<li>Photoshop <img src="assets/img/4cogs.png" alt="Rating 4"></li>
				</ul>
				
				<ul class="socialIcons">
						<li><a href="http://facebook.com/kaila.hutchins"><img src="assets/img/facebook.png" alt="Facebook">Facebook</a></li>
						<li><a href="https://plus.google.com/u/0/117572290113763654927/posts"><img src="assets/img/google-plus.png" alt="Google+">Google+</a></li>
						<li><a href="http://www.linkedin.com/pub/kaila-hutchins/46/b04/b27/"><img src="assets/img/linkedin.png" alt="LinkedIn">LinkedIn</a></li>
						<li><a href="http://www.flickr.com/photos/63327640@N06/"><img src="assets/img/flickr.png" alt="Flickr">Flickr</a></li>
				</ul>
				
				<div class="cBoth"></div>
			</div>
			
		</div>
		<!-- My projects tab -->
		<div style="display: none;">
			<!-- root element for scrollable -->
			<div class="scrollable vertical">
				<!-- root element for the scrollable elements -->
			   <div class="items">
					<!-- first element. contains three rows -->
					<div class="section">
						<!-- first row -->
						<div class="item">
							
							<img src="assets/img/project3.jpg" alt="VoteForMom" class="projectThumb"></a>
							
							<div class="table">
								<ul class="projectInfo">
									<li><a href="assets/projects/project3.html" rel="#overlay"><img src="assets/img/view.png" alt="View bigger"></a></li>
								</ul>
							</div>
						
						</div>
						<div class="item">
						
							<img src="assets/img/project4.jpg" alt="Brew Pub" class="projectThumb"></a>
							
							<div class="table">
								<ul class="projectInfo">
									<li><a href="assets/projects/project4.html" rel="#overlay"><img src="assets/img/view.png" alt="View bigger"></a></li>
								</ul>
							</div>
						
						</div>
						<div class="item"> 

							<img src="assets/img/project6.jpg" alt="KflyWay" class="projectThumb"></a>
							
							<div class="table">
								<ul class="projectInfo">
									<li><a href="assets/projects/project6.html" rel="#overlay"><img src="assets/img/view.png" alt="View bigger"></a></li>
								</ul>
							</div>

						</div>
						<!-- IMPORTANT -->
						<div class="cBoth"></div>
					</div>

					<!-- second element. contains three rows -->
					<div class="section">
						<div class="item">

							<img src="assets/img/project1.jpg" alt="Baby Leisure" class="projectThumb"></a>
							
							<div class="table">
								<ul class="projectInfo">
									<li class="oneBtn"><a href="assets/projects/project1.html" rel="#overlay"><img src="assets/img/view.png" alt="View bigger"></a></li>
								</ul>
							</div>
						
						</div>
						<div class="item">
						
							<img src="assets/img/project5.jpg" alt="Noah In Ireland" class="projectThumb"></a>
							
							<div class="table">
								<ul class="projectInfo">
									<li><a href="assets/projects/project5.html" rel="#overlay"><img src="assets/img/view.png" alt="View bigger"></a></li>
								</ul>
							</div>
						
						</div>
						<div class="item"> 

							<a href=""><img src="assets/img/project2.jpg" alt="Project name" class="projectThumb"></a>
							
							<div class="table">
								<ul class="projectInfo">
									<li><a href="assets/projects/project2.html" rel="#overlay"><img src="assets/img/view.png" alt="View bigger"></a></li>
								</ul>
							</div>

						</div>
						<!-- IMPORTANT -->
						<div class="cBoth"></div>
					</div>
				</div>
			</div>
			<!-- Prev - Next buttons -->
			<div id="actions">
			   <a class="prev disabled">prev</a>
				<p>*You can use keyboard arrows ( up/down ) to scroll trough gallery.</p>
			   <a class="next">next</a>
			</div>
		</div>
		<!-- Contact me tab -->
		<div style="display: none;">
		
			<div id="form" class="fl">
				<!-- Contact Form -->
				<form id="contact-form" action="javascript:alert('success!');">
					<ul>
						<li>
							<label for="name">Name</label>
							<input type="text" name="name" id="name" value="" placeholder="Your name">
						</li>
						<li>
							<label for="email">E-mail</label>
							<input type="text" name="email" id="email" value="" placeholder="Your e-mail">
						</li>
						<li>
							<label for="subject">Subject</label>
							<input type="text" name="subject" id="subject" value="" placeholder="What is it about">
						</li>
						<li>
							<textarea name="message" rows="5" cols="25" id="message" placeholder="Your text here"></textarea>
						</li>
						<li>
							<input type="submit" name="submit" value="Send" class="button">
						</li>
					</ul>
				</form>
				<!-- Error Messages will be displayed here -->
				<div id="note"></div>
			</div>
			
			<div id="contactInfo" class="fl">
			
				<img src="assets/img/map.jpg" alt="Map">
			
				<ul class="infos fl">
					<li>Address: <span>New York, NY.</span></li>
					<li>Phone: <span>(617) 981 4021</span></li>
				</ul>
				
			</div>
			<div class="cBoth"></div>
		</div>
	</div>
</div>
<script src="assets/js/ajax.js"></script>  
<script src="assets/js/plugins.js"></script>  
</body></html>